<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commands</key>
	<array>
		<dict>
			<key>argument</key>
			<dict>
				<key>action</key>
				<string>findNext</string>
				<key>findInProjectIgnoreCase</key>
				<false/>
				<key>findInProjectRegularExpression</key>
				<false/>
				<key>findString</key>
				<string>$\n\s*</string>
				<key>ignoreCase</key>
				<false/>
				<key>regularExpression</key>
				<true/>
				<key>replaceAllScope</key>
				<string>document</string>
				<key>replaceString</key>
				<string>$\n\s</string>
				<key>wrapAround</key>
				<false/>
			</dict>
			<key>command</key>
			<string>findWithOptions:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>deleteForward:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>; </string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
	</array>
	<key>keyEquivalent</key>
	<string>^@</string>
	<key>name</key>
	<string>Join line with semicolon</string>
	<key>scopeType</key>
	<string>local</string>
	<key>uuid</key>
	<string>34F903D9-65B5-49C9-85CC-768B622F0A25</string>
</dict>
</plist>
